@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  background: #1d1f20;
  color: white;
  font-family: Lato, sans-serif;
}

img {
  width: 100%;
}

.app {
  background: white;
  position: relative;
  overflow: auto;
  visibility: hidden;
}

.card-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0.75rem;
  max-height: 90vmin;
  max-width: 90vmin;
  overflow: hidden;
}

.user-card {
  cursor: pointer;
  font-size: 0;
}

.chosen {
  position: fixed;
  left: 50%;
  cursor: pointer;
  font-size: 0;
  display: flex;
  flex-direction: row;
  visibility: hidden;
   overflow: auto;

  &__image,
  &__details {
    height: 47.5vmin;
    max-height: 47.5vmin;
    width: 47.5vmin;
    max-width: 47.5vmin;
  }

  &__image > img {
    position: relative;
    z-index: 1;
  }

  &__details {
    background: #232323;
    padding: 2rem 1.5rem;
    font-size: 1.75vmin;
    box-sizing: border-box;
    flex-grow: 1;

    & > * {
      margin-bottom: 1rem;
    }

    &__name {
      font-size: 3.5vmin;
      text-transform: uppercase;
    }

    &__aliases {
      color: lightgray;
    }

    &__description {
      line-height: 1.5;
    }
  }
}
